body {
  /* background: rgb(13, 19, 51); */
  background: rgb(28, 38, 90);

  color: white;
}
h1{
    margin: 30px;
}
input {
  margin-top: 15px;
  margin-bottom: 15px;
}
label{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
p{
  font-size: 20px;
  color: rgb(187, 44, 44);
  font-weight: bold;
}